body
{
	background-color: #011F3F;
	text-align: center;
}
h1
{
	font-size: 3rem;
	padding: 2% 5%;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
}
button
{
	height: 200px;
	width: 200px;
	border-radius: 20%;
	border: 10px solid;
	margin: 2%;
	display: inline-block;
}
#green
{
	background-color: green;
}
#red
{
	background-color: red;
}
#yellow
{
	background-color: yellow;
}
#blue
{
	background-color: blue;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.game-over
{
	background-color: red;
	opacity: 0.8;
}